@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply box-border p-0 m-0;
  }

  body,
  html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* background-color: theme(colors.primary.900); */
  }
}

@layer utilities {
  .btn-primary {
    @apply bg-primary-main hover:bg-primary-900 text-white rounded-none;
  }

  .text-primary-gradient {
    @apply bg-gradient-to-r from-primary-500 to-primary-700 inline-block text-transparent bg-clip-text;
  }
}
